<h1>View all vehicles</h1>

<table class="table table-bordered">
  <tr>
    <th>Year</th>
    <th>Make</th>
    <th>Model</th>
    <th>Transmission</th>
    <th>Description</th>
    <th></th>
  </tr>
		<% @products.each do |product| %>
		<tr>
	        <td><%= product.ModelYear %></td>
	        <td><%= product.Make %></td>
	        <td><%= product.Model %></td>
	        <td><%= product.Transmission %></td>
	        <td><%= product.description %></td>

	    		<td><%= link_to 'View', product, class: "btn btn-primary"  %></td>
			    <% if current_user == product.user %>
			    <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary"  %></td>
			    <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary"  %></td>
			    	<% end %>
		</tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_product_path %>
